<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css"   href="/css/style.css">
  <head>
    <title>Confirmation de réservation</title>
  </head>
  <body>
    <h1>Votre réservation est bien enregistrée</h1>
    <p>EcamAir vous remercie et vous souhaite un bon voyage</p>
    <img src="/pictures/Logo ECAM.jpg" alt="Image de voyage" width="250" >
  </body>
</html>
