/* Styles pour le corps de la page */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
  }
  
  /* Styles pour le header */
  header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Styles pour les liens */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Styles pour les boutons */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  /* Styles pour les formulaires */
  form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Styles pour les tableaux */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Styles pour les messages d'erreur */
  .error {
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  /* Styles pour les messages de confirmation */
  .success {
    color: green;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  